.mainContainer {
    background-image: url('../../assets/Clients/TopClients.svg');
    /* height: 280px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    padding-left: 100px;
    padding-top: 64px;
}

.leftContainer {
    position: relative;
    width: 45%;
}

.heading {
    font-size: 40px;
    font-weight: bold;
}

.image {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .mainContainer {
        padding-left: 80px;
    }

    .image {
        height: 120px;
    }
}

@media screen and (max-width: 900px) {
    .mainContainer {
        padding: 30px 50px;
    }

    .leftContainer {
        /* position: relative; */
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mainContainer {
        padding: 20px;
    }

    .image {
        width: 50%;
        padding-right: 0px;
    }    

    .heading {
        font-size: 32px;
    }
}